.groups-title{
    color: $run-black !important;
    font-family: $run-font !important;
    font-size: 40px !important;
    font-weight: 250 !important;
}
.group-description{
    font-family: $run-font;
    color: $run-black;
}